<div class="container-fluid below-navbar">
  <h1>Edit Membership<%= @membership.id %>'s informations</h1>
  <p>You can change and update Membership<%= @membership.id %>'s informations</p>
  <div class="new-form-create col-xs-12 col-sm-6">
    <%= render 'shared/membership_form', membership: @membership %>
  </div>
</div>
