.maincontent {
  margin-top: 69px;
  padding-top: 50px;
  padding-left: 50px;
}

.maintagline {
  flex-direction: column;
}

.maintagline-list ul {
  padding-left: 0px;
}

.maintagline-list li {
  list-style-type: none;
  padding: 5px 0px;
}

.maintagline-list li:hover {
  border-radius: 5px;
  box-shadow: 1px 2px 13px;
  padding-left: 5px;
  cursor: pointer;
}

.maintagline-list a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: rgba(255,244,149,1);
}


@media screen and (max-width: 565px) {
    .maintagline h1 {
      font-size: 22px;
      font-weight: bolder;
    }
    .maintagline p {
      font-size: 16px;
    }
    .maintagline li {
      font-size: 16px;
    }
}

.push-footer-down {
  display: flex;
  flex-direction: column;
}

.push-footer-down-maincontent {
  flex-grow: 1;
}

body, html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: white;
}
