.maincontent {
  margin-top: 69px;
  padding-top: 50px;
  padding-left: 50px;
}

.maintagline {
  flex-direction: column;
}

.maintagline-list ul {
  padding-left: 0px;
}

.maintagline-list li {
  list-style-type: none;
}

.maintagline-list a {
  text-decoration: none;
}


@media screen and (max-width: 565px) {
    .maintagline h1 {
      font-size: 22px;
      font-weight: bolder;
    }
    .maintagline p {
      font-size: 16px;
    }
    .maintagline li {
      font-size: 16px;
    }
}

.push-footer-down {
  display: flex;
  flex-direction: column;
}

.push-footer-down-maincontent {
  flex-grow: 1;
}

body, html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
