<div class="container-fluid below-navbar">
  <h1>Create a new Student</h1>
  <p>Just complete the below informations. Then, you'll be able to do more actions</p>
  <div class="new-form-create col-xs-12 col-sm-6">
    <%= render 'shared/student_form' %>
  </div>
</div>
