<div class="myfooter">
  <div class="myfooter-content">
    <div class="myfooter-left">
      <div class="myfooter-left-text">
        <p>Who we are</p>
      </div>
    </div>
    <div class="myfooter-center">
      <div class="myfooter-center-text">
        <p>Copyright  <%= Time.current.year %></p>
      </div>
    </div>
    <div class="myfooter-right">
      <a href="#"><i class="myfooter-icon fab fa-github"></i></a>
      <a href="#"><i class="myfooter-icon fab fa-instagram"></i></a>
      <a href="#"><i class="myfooter-icon fab fa-facebook"></i></a>
      <a href="#"><i class="myfooter-icon fab fa-twitter"></i></a>
      <a href="#"><i class="myfooter-icon fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
