<div class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <div class="footer-left-text">
        <p>Who we are</p>
      </div>
    </div>
    <div class="footer-center">
      <div class="footer-center-text">
        <p>Copyright  <%= Time.current.year %></p>
      </div>
    </div>
    <div class="footer-right">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
