<h1>Teachers#index</h1>
<p>Find me in app/views/teachers/index.html.erb</p>
<%= link_to "New Teacher", teachers_new_path %>
<% @teachers.each do |teacher| %>
<ul>
  <li><%= teacher.last_name %></li>
  <li><%= link_to "Delete", teacher_path(teacher), method: :delete %></li>
  <li><%= link_to "Edit", edit_teacher_path(teacher) %></li>
</ul>
<% end %>
