<div class="container-fluid below-navbar">
  <h1>Create a new Teacher</h1>
  <p>Just complete the below informations. Then, you'll be able to do more actions</p>
  <div class="new-form-create col-xs-12 col-sm-6">
  <%= render 'shared/teacher_form' %>
  </div>
</div>
