.card-index {
  margin-bottom: 10px;
  padding-top: 10px;
  color: darkslategray;
  min-width: 285px;
  min-height: 200px;
}

.card-index ul {
  padding-left: 0px;
}

.card-index li {
  list-style: none;
}

.card-index li a {
  text-decoration: none;
}

.card-index-actions {
  border-radius: 0px 0px 5px 5px;
  font-size: 12px;
  padding: 2px 5px;
  cursor: pointer;
  width: 35px;
  text-align: center;
  margin-top: -1px;
}

.card-index-actions a {
  text-decoration: none;
}

.card-index-edit {
  position: absolute;
  right: 45px;
  top: 0;
  color: rgba(16,184,252,0.33);
  border: 1px solid rgba(16,184,252,0.33);
}

.card-index-edit a {
  color: rgba(16,184,252,0.33);
}

.card-index-edit:hover {
  background-color: rgba(16,184,252,0.33);
  font-size: 14px;
  border: none;
  transition-duration: 500ms;
  transition-property: background-color border font-size;

  a {
    color: white;
    transition-duration: 500ms;
    transition-property: color;
  }
}

.card-index-delete {
  position: absolute;
  right: 5px;
  top: 0;
  color: rgba(255,120,120,0.33);
  border: 1px solid rgba(255,120,120,0.33);
}

.card-index-delete a {
  color: rgba(255,120,120,0.33);
}

.card-index-delete:hover {
  background-color: rgba(255,120,120,0.33);
  font-size: 14px;
  border: none;
  transition-duration: 500ms;
  transition-property: background-color font-size;

  a {
    color: white;
    transition-duration: 500ms;
    transition-property: color;
  }
}

.card-index-container {
  display: grid;
  grid-template-columns: [firstcol] 50% [secondcol] 50%;
  grid-template-rows: repeat(6, 35px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.card-index-title {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 22px;
  border-bottom: 1px solid $light-gray;
}

// left card

.card-index-subtitle-left-1 {
  grid-row-start: 2;
  grid-column-start: 1;
}

.card-index-subtitle-left-1-text {
  font-weight: bolder;
  padding-right: 10px;
  overflow: scroll;
  line-height: 18px;
}

.card-index-subtitle-left-2 {
  grid-row-start: 3;
  grid-column-start: 1;
  font-weight: bolder;
  padding-right: 10px;
}

.card-index-subtitle-left-r4 {
  grid-row-start: 4;
  grid-column-start: 1;
  font-weight: bolder;
  padding-right: 10px;
}

.card-index-subtitle-left-2-list {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 1;
  padding-right: 10px;
}

.card-index-content-title-left {
  grid-row-start: 2;
  font-weight: bolder;
  padding-right: 10px;
}

.card-index-block-content-list-left {
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 1;
  overflow: scroll;
  padding-right: 10px;
}

.card-index-block-content-sublist-left {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 1;
  overflow: scroll;
  padding-right: 10px;
}

// card right

.card-index-content-title-right {
  grid-row-start: 2;
  grid-column-start: 2;
  font-weight: bolder;
}

.card-index-content-picture-right {
  grid-row-start: 2;
  grid-column-start: 2;
}

.card-index-content-subtitle-right-r2 {
  grid-row-start: 2;
  grid-column-start: 2;
}

.card-index-content-subtitle-right-r3 {
  grid-row-start: 3;
  grid-column-start: 2;
}

.card-index-block-content-list-right {
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 2;
  overflow: scroll;
}

.card-index-block-content-sublist-right {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 2;
  overflow: scroll;
}

.card-index-block-list-empty {
  font-size: 14px;
  overflow: scroll;
  line-height: 16px;
}

.card-index-footer {
  grid-row-start: 6;
  grid-column-start: 1;
  grid-column-end: 3;
}
