.card-index {
  margin-bottom: 10px;
  padding-top: 10px;
  color: darkslategray;
  min-width: 285px;
  min-height: 200px;
}

.card-index ul {
  padding-left: 0px;
}

.card-index li {
  list-style: none;
}

.card-index li a {
  text-decoration: none;
}

.card-index-actions {
  border-radius: 0px 0px 5px 5px;
  font-size: 12px;
  padding: 2px 5px;
  cursor: pointer;
  width: 35px;
  text-align: center;
  margin-top: -1px;
}

.card-index-actions a {
  text-decoration: none;
}

.card-index-edit {
  position: absolute;
  right: 45px;
  top: 0;
  color: rgba(16,184,252,0.33);
  border: 1px solid rgba(16,184,252,0.33);
}

.card-index-edit a {
  color: rgba(16,184,252,0.33);
}

.card-index-edit:hover {
  background-color: rgba(16,184,252,0.33);
  font-size: 14px;
  border: none;
  transition-duration: 500ms;
  transition-property: background-color border font-size;

  a {
    color: white;
    transition-duration: 500ms;
    transition-property: color;
  }
}

.card-index-delete {
  position: absolute;
  right: 5px;
  top: 0;
  color: rgba(255,120,120,0.33);
  border: 1px solid rgba(255,120,120,0.33);
}

.card-index-delete a {
  color: rgba(255,120,120,0.33);
}

.card-index-delete:hover {
  background-color: rgba(255,120,120,0.33);
  font-size: 14px;
  border: none;
  transition-duration: 500ms;
  transition-property: background-color font-size;

  a {
    color: white;
    transition-duration: 500ms;
    transition-property: color;
  }
}

.card-index-container {
  display: flex;
  flex-direction: column;
}

.card-index-title {
  height: 40px;
  font-size: 20px;
}

.card-index-content {
  flex-grow: 1;
  display: flex;
}

.card-index-left-block {
  flex-grow: 1;
}

.card-index-right-block {
  flex-grow: 1;
}

.card-index-block-content-title {
  font-weight: bolder;
}

.card-index-footer {
  height: 25px;
}
