.myfooter {
  display: flex;
  align-items: flex-end;
  min-height: 65px;
  width: 100%;
  background-color: rgba(194,201,228,1);
  padding: 0px 10px;
}

.myfooter-content {
  flex-grow: 1;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.myfooter-icon {
  padding: 0 5px;
}

@media screen and (max-width: 425px) {
  .myfooter {
    font-size: 14px;
  }
  .myfooter-icon {
    padding: 0 1px;
}
}
