.navigationbar {
  top: 0;
  left: 0;
  position: fixed;
  height: 68px;
  width: 100%;
  background-color: $blue;
  z-index: 1060;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
}

.navbarleft {
  display: flex;
}

.navbarlogo a {
  color: $white;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 15px;
  width: 150px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-quicklinks {
  display: flex;
  align-items: center;
  color: $white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.navbarlogo-menu-link {
  position: absolute;
  min-width: 160px;
  left: 165px;
  top: 65px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0,0,0, 0.2);
  padding: 10px 0px 5px 0px;
  text-align: left;
  z-index: 1060;
}

#quicklinks-menu ul {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 5px;
}

#quicklinks-menu a {
  text-decoration: none;
}

.navbarright {
  display: flex;
}

.navbar-login {
  display: flex;
  align-items: center;
  color: $white;
  cursor: pointer;
}

.navbar-login a {
  color: $white;
  text-decoration: none;
}

.navbar-login-menu-link {
  position: absolute;
  min-width: 220px;
  right: 5px;
  top: 65px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0,0,0, 0.2);
  padding: 10px 0px 5px 0px;
  text-align: left;
  z-index: 1060;
  font-size: 14px;
}

.navbar-login-menu-link ul {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 5px;
}

.navbar-login-menu-link a {
  text-decoration: none;
}
