.navigationbar {
  top: 0;
  left: 0;
  position: fixed;
  height: 68px;
  width: 100%;
  background-color: $blue;
  z-index: 1060;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}

.navbarlogo {
  color: $white;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 15px;
  width: 150px;
  align-items: center;

}
