.navigationbar {
  top: 0;
  left: 0;
  position: fixed;
  height: 68px;
  width: 100%;
  background-color: $blue;
  z-index: 1060;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarleft {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.navbarlogo a {
  color: $white;
  font-size: 24px;
  padding-left: 20px;
  width: 150px;
  text-decoration: none;
}

.navbar-quicklinks {
  display: flex;
  align-items: center;
  color: $white;
  cursor: pointer;
  padding-left: 50px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.navbarlogo-menu-link {
  position: absolute;
  min-width: 160px;
  left: 145px;
  top: 65px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0,0,0, 0.2);
  padding: 10px 0px 5px 0px;
  text-align: left;
  z-index: 1060;
}

#quicklinks-menu ul, #quicklinks-user-menu ul {
  list-style-type: none;
  margin-bottom: 5px;
  padding-left: 0px;
}

#quicklinks-menu li, #quicklinks-user-menu li {
  padding-left: 20px;
}

#quicklinks-menu li:hover, #quicklinks-user-menu li:hover {
  background-color: rgba(0, 127, 255, 0.1);
}

#quicklinks-menu a, #quicklinks-user-menu a {
  text-decoration: none;
}

.navbarright {
  display: flex;
}

.cat-icon img {
  height: 45px;
}

.navbar-login {
  display: flex;
  align-items: center;
  color: $white;
  cursor: pointer;
}

.navbar-login a {
  color: $white;
  text-decoration: none;
}

.navbar-login-menu-link {
  position: absolute;
  min-width: 120px;
  right: 5px;
  top: 65px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0,0,0, 0.2);
  padding: 10px 10px 5px 0px;
  text-align: left;
  z-index: 1060;
}

.navbar-login-menu-link ul {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 5px;
}

.navbar-login-menu-link li {
  color: rgba(38,185,249,1);
}

.navbar-login-menu-link a {
  text-decoration: none;
}

.below-navbar {
  margin-top: 65px;
  margin-bottom: 65px;
}
