/*Graphical variables*/
@import "config/fonts";
@import "config/colors";
@import "config/functions";
@import "config/bootstrap_variables";
/* Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import "bootstrap";

// partials scss
@import "pages/index";
@import "components/index";
@import "devise/index";
@import "students/index";

