.user-sign-up {
  margin-top: 45px;
}

.user-sign-up h2 {
  margin-bottom: 35px;
}

.user_password_confirmation {
  margin-top: 20px;
  font-size: 0.85em;
  color: $dark-gray;
}

.hint {
  font-size: 0.75em;
  color: rgba(50,50,53,1);
}

.btn-devise-sign-up {
  margin-top: 25px;
}

.user-sign-up a {
  font-size: 0.85em;
  text-decoration: none;
  color: rgba(255,244,149,1);
}
